html {
    font-size: 14px;
}
:root {
    --main-color: #01264d;
    --accent-color: #184981;
    --bg-light: #eee;
    --font-light: #eee;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 50%);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    background-color: whitesmoke;
}

.container {
    width: 85%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

.btn {
    padding: 5px 20px;
    outline: none;
    border: none;
    color: var(--font-light);
    background-color: var(--main-color);
}

.bold {
    margin: auto;
    font-weight: 900;
    text-decoration: underline;
}

.hr {
    margin: 20px auto;
    width: 85%;
    border: solid 1px var(--main-color);
}

.module {
    padding: 1.5rem;
    color: var(--main-color);
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    box-shadow: var(--shadow);
}

/*==========================================*/
/*=============== HEADER ===================*/
/*==========================================*/

header {
    background-color: var(--main-color);
}

.covid-alert {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: underline;
    background-color: var(--font-light);
}

.header-content {
    padding-top: 1.4rem;
}

.logo-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.4rem 0;
}

.logo-row h1 {
    padding-left: 1rem;
    margin: 0 1rem;
    font-size: 3.25rem;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--font-light);
    border-left: solid 0.25rem;
}

.logo-row .img {
    height: 75px;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--font-light);
    background-color: #184981;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.nav-bar .nav-item {
    padding: 0 0.75rem;
    border-left: solid 1px var(--font-light);
    border-right: solid 1px var(--font-light);
    background-color: #184981;
}

/* --------------- HOME HERO ---------- */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/images/banner-1.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------- DASHBOARD -------------- */

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 0.75rem;
}

.dashboard .dashboard-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.dashboard-card-heading {
    padding: 0.5rem 0;
    text-transform: capitalize;
    color: var(--font-light);
    background: var(--accent-color);
}

.dashboard-card-body {
    padding-top: 1rem;
}

/* ------------- Specialties ----------*/
.specialties {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.specialties-heading {
    padding: 1rem 0;
}
.specialties-grid {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.75rem;
    justify-content: center;
}

.specialties-grid-item {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.specialties-grid-item img {
    width: 9rem;
}

/* ============= FOOTER ============ */

footer {
    background-color: var(--main-color);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: var(--font-light);
    font-size: 1rem;
}

.footer-grid .footer-grid-item h3 {
    font-size: 1.75rem;
}

.copy-right {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #ddd;
    opacity: 0.7;
    text-align: center;
}

/* -------------- SLIDER ----------------*/
.slide-show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-show-img {
    height: 600px;
    width: 100%;
}
/* ===========================================*/
/* ================= PHYSICIANS ==============*/
/* ===========================================*/

/* ---------------Banner------------- */
.banner-container {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/images/banner-3.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.physicians-banner-body h2 {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: var(--font-light);
    font-size: 3rem;
    font-weight: bold;
}

/* -----------form end-------- */

.directory .results-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 3rem; */
}

.directory .results-item {
    margin: 2rem;
    display: list-item;
}
.directory .results-item-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.directory .results-item-img {
    text-align: center;
}
.directory .results-item-img img {
    width: auto;
    height: 250px;
    vertical-align: middle;
}

.directory .results-item-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: granjon;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--accent-color);
}

.directory .results-item-info .info-body {
    display: flex;
    flex-direction: column;
}

.directory .results-item-info .info-heading {
    font-weight: normal;
    font-size: 2.25rem;
}

.search {
    text-align: center;
}

/* ===============================*/
/* =============COVID=============*/
/* ===============================*/

.covid-banner {
    display: flex;
    width: 100%;
    height: 25rem;
}

.covid-banner .covid-banner-text {
    width: 50%;
    order: 1;
    padding: 2.75rem 2.75rem;
    background-color: #ddd;
    align-items: center;
}

.covid-banner .covid-banner-asset {
    width: 70%;
    height: 100%;
    order: 2;
}
/* --------------------------------------------*/
/* ------------ COVID STAT BANNER -------------*/
/* --------------------------------------------*/
.covid-banner .covid-banner-asset .covid-banner-img {
    background-image: url("/images/coronavirus.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.covid-stat-banner {
    margin: auto;
    padding: 2rem;
    text-align: center;
    color: var(--main-color);
}

.covid-stat-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-cases {
    margin: 1rem;
}

.card-cases-heading {
    font-size: 1.5rem;
}

.card-cases-body {
    font-size: 1.5rem;
    font-weight: bold;
}

/* --------------------------------------------*/
/* -------------- COVID  CONTENT --------------*/
/* --------------------------------------------*/

.covid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
}

.covid-content-section {
    margin: 0 1rem;
}

.covid-content-section h1 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.covid-content-section ul {
    padding: 0 0 0 1rem;
}

.covid-content-section li {
    padding: 0.5rem 0;
    list-style-type: square;
}

.covid-content .image {
    background-image: url("/images/covid-img-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =======================================*/
/* ================ DOCTOR ===============*/
/* =======================================*/

.doctor-top-row-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.doctor-top-row-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    text-transform: capitalize;
}

.doctor-top-row-info-column-left img {
    max-width: 200px;
}

.top-row-info-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-row-info-item h3 {
    font-size: 1.5rem;
}

.top-row-info-item .btn {
    color: var(--font-light);
}

.doctor-bottom-row {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
}

/* ========================================*/
/* ============== APPOINTMENT =============*/
/* ========================================*/

.form-container {
    /* max-width: 500px; */
    margin: 0.75rem auto;
}

.form-container fieldset {
    border: none;
}
.form-container legend {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
}

.form-container label {
    display: block;
    margin-bottom: 0.5rem;
}
.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="datetime"],
.form-container input[type="number"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container textarea,
.form-container select {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    margin: 0 0 2rem 0;
    padding: 0.75rem;
    font-size: 1rem;
    outline: 0;
    color: var(--accent-color);
    text-transform: capitalize;
}
.form-container input[type="text"]:focus,
.form-container input[type="date"]:focus,
.form-container input[type="datetime"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="number"]:focus,
.form-container input[type="search"]:focus,
.form-container input[type="time"]:focus,
.form-container input[type="url"]:focus,
.form-container input[type="tel"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="select"]:focus,
.form-container textarea:focus,
.form-container select:focus {
    background: #ddd;
}

.form-container input[type="submit"],
.form-container input[type="button"] {
    position: relative;
    display: block;
    width: 100%;
    border: none;
    margin: auto 0.75rem auto 0;
    padding: 1.4rem 2.75rem;
    font-size: 1.4rem;
    text-align: center;
    color: var(--font-light);
    background: var(--accent-color);
    border-radius: 0.5rem;
}
.form-container input[type="submit"]:hover,
.form-container input[type="button"]:hover {
    background: var(--main-color);
    cursor: pointer;
}

/* ========================================*/
/* ================ CONTACT ===============*/
/* ========================================*/

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.inquiries,
.form-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.inquiries-heading,
.inquiries-list li {
    border-bottom: var(--main-color) solid 1px;
    padding: 1.5rem 0;
    font-weight: bold;
}
